@use "../../styles/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fontcolors" as *;

.upload {
	box-sizing: border-box;
	@include m-padding;
	@include tablet {
		@include t-padding;
	}
	@include desktop {
		@include d-padding;
	}

	&-title {
		margin: 1rem 0;
		@include m-page-header;
		@include tablet {
			margin: 0;
			padding: 36px 0 24px;
			@include page-header;
		}
	}
	&-container {
		@include desktop {
			display: flex;
			flex-direction: row;
		}
	}
	&-thumbnail {
		display: flex;
		flex-direction: column;
		&__title {
			margin: 0;
			color: $silver;
			margin-bottom: 4px;
			@include m-subheader;
			@include tablet {
				@include subheader;
			}
		}
		&__image {
			margin-bottom: 1rem;
			@include tablet {
				width: 50%;
				margin-bottom: 24px;
			}
			@include desktop {
				width: 100%;
			}
		}
	}
}

.flex {
	@include desktop {
		&-one {
			flex: 2;
		}
		&-two {
			flex: 3;
		}
	}
}


.uploadform {
	display: flex;
	flex-direction: column;
	@include desktop {
		margin-left: 1.5rem;
		height: 100%;
	}
	&-container {
		margin-bottom: 1rem;
		padding-left: 0;
		@include tablet {
			width: 100%;
		}
		@include desktop {
			padding: 0;
			margin-bottom: 0;
		}
	}

	&-description {
		height: 100%;
		&__text {
			height: 6rem;
			resize: none;
			@include desktop {
				height: 8.5rem;
			}
		}
	}
	&-title, &-description {
		display: flex;
		flex-direction: column;
		width: 100%;
		&__label {
			color: $silver;
			margin-bottom: 4px;
			@include m-subheader;
			@include tablet {
				@include subheader;
			}
		}
		&__text {
			box-sizing: border-box;
			max-width: 100%;
			border-radius: 4px;
			padding: 12px;
			font-family: avenir;
			border: 1px solid $silver;
			background-color: $alabaster;
			color: $darkblack;
			min-height: 2.25rem;
			@include tablet {
				min-height: 2.5rem;
				width: 100%;
				padding: 1rem;
			}
		}
	}

	&-button {
		display: flex;
		flex-direction: column;
		width: 100%;
		@include tablet {
			flex-direction: row;
			justify-content: right;
		}
		&__submit {
			&:hover {
				background-color: $darkblue;
				cursor: pointer;
			}
			@include btn;
			background-image: url(../../assets/icons/upload.svg);
			background-repeat: no-repeat;
			background-position-y: center;
			background-position-x: 1rem;
			@include tablet {
				order: 2;
			}
		}
		&__cancel {
			color: $blue;
			background-color: $white;
			border-radius: 4px;
			border-width: 0;
			height: 40px;
			text-align: center;
			cursor: pointer;
			@include tablet {
				order: 1;
			}
		}
		&__submit, &__cancel{
			margin-bottom: 1rem;
			@include m-labels-button;
			@include tablet {
				width: 20%;
			}
		}
	}
}

.hr {
	&-top {
		margin-top: 1rem;
		@include desktop {
			margin-top: 1.5rem;
		}
	}
	&-btm {
		display: none;
		@include tablet {
			display: block;
			margin-bottom: 1rem;
		}
	}
	&-form {
		display: none;
		@include tablet {
			display: block;
			margin: 1.5rem 0;
			width: 100%;
		}
	}
}