@use "../../styles/partials/fontcolors" as *;


* {
	html, body {
		margin: 0;
		padding: 0;
		width: 100%;
		font-family: avenir;
		font-weight: 400;
	};

	box-sizing: border-box;
}

hr {
	margin: 0;
	border: 1px solid $mercury;
}