@use "variables" as *;
@use "typography" as *;
@use "fontcolors" as *;


@mixin tablet {
	@media screen and (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $desktop-breakpoint) {
		@content;
	}
}

//------------------------MOBILE STYLES---------------------//
@mixin m-page-header {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
}

/* same as desktop/tablet
@mixin m-section-header {
	font-size: 12px;
	line-height: 20px;
	font-weight: 700;
}
*/

@mixin m-subheader {
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
}

@mixin m-body-copy {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

@mixin m-labels-button {
	font-size: 10px;
	line-height: 20px;
	font-weight: 700;
}

@mixin m-padding {
	padding: 0 1rem;
}


//------------------------DESKTOP & TABLET----------------------------//

@mixin t-padding {
	padding: 0 36px;
}

@mixin d-padding {
	padding: 0 6rem ;
}

@mixin page-header {
	font-size: 33px;
	line-height: 44px;
	font-weight: 700;
}

@mixin section-header {
	font-size: 12px;
	line-height: 20px;
	font-weight: 700;
}

@mixin subheader {
	font-size: 14px;
	line-height: 22px;
	font-weight: 700;
}

@mixin body-copy {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}

@mixin labels-button {
	font-size: 12px;
	line-height: 20px;
	font-weight: 700;
}


//--------------------------------------------------//

@mixin btn {
	color: $white;
	background-color: $blue;
	border-radius: 4px;
	border-width: 0;
	height: 40px;
}

@mixin td-avatar {
	height: 40px;
	width: 40px;
}

