@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fontcolors" as *;

banner {
	margin: 16px 0;
	@include m-padding;

	@include tablet {
		@include t-padding
	}

	@include desktop {
		@include d-padding
	}
}

.info {
	@include tablet {
		padding: 0;
	}

	&-title {
		h1 {
			padding: 1.5rem 0 1rem;
			margin: 0;
			@include tablet {
				padding: 2.25rem 0 1.5rem;
			}
		}
		&__text {
			margin: 0;
			@include m-page-header;
			@include tablet {
				@include page-header;
			}
		}
	}
	&-item {
		display: flex;
		@include tablet {
			margin-bottom: .5rem;
		}
		@include desktop {
			padding-right: 1rem;
		}
		&__list {
			flex: 1;
			@include tablet {
				flex: none;
			}
		}
		&__channel {
			@include m-subheader;
			@include tablet {
				@include subheader;
			}
		}
		&__views, &__likes {
			&-image {
				margin-right: .5rem;
			}
		}
		@include tablet {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&__list {
				display: flex;
				flex-direction: row;
				gap: 1rem;
				flex-wrap: wrap;
				
				p {
					margin: 0;
				}
			}
		}
	}
	&-description {
		padding: 1rem 0;
		@include m-body-copy;
		@include tablet {
			padding: 1.5rem 0;
			@include body-copy;
		}
		@include desktop {
			padding-right: 1rem;
		}
	}
	&-comments {
		@include m-subheader;
		@include tablet {
			@include subheader;
		}
	}
}


@include tablet {
	.td-hr {
		display: none;
	}
} 

.info-item {
	&__timestamp, &__views, &__likes {
		color: $silver;
		@include m-body-copy;
		@include tablet {
			@include body-copy;
		}
	}
}