@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fontcolors" as *;

header {
	margin-top: 1rem;
	@include m-padding;
	@include tablet {
		@include t-padding;
	}
	@include desktop {
		@include d-padding
	}
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	@include tablet {
		flex-direction: row;;
	}

	&-link {
		text-decoration: none;
		width: 100%;
		@include desktop {
			width: auto;
		}
	}

	&-logo {
		height: 25px;
		width: 120px;
		margin-bottom: 1rem;
		@include tablet {
			margin-bottom: 0;
		}
	}

	&-bar {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		@include tablet {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
		}
	
		&__container {
			position: relative
		}

		&__search {
			height: 2.5rem;
			padding-left: 35px;
			width: 73vw;
			background-color: $alabaster;
			border-radius: 4px;
			border-color: $silver;
			border-width: 1px;
			background-image: url("../../assets//icons/search.svg");
			background-repeat: no-repeat;
			background-position-y: center;
			background-position-x: .625rem;
			@include tablet {
				width: 30vw;
				order: 1;
				margin-right: 1.5rem;
				padding-left: 40px;
			}
			@include desktop {
				width: 18vw;
			}
		}

		&__icon {
			position: absolute;
			left: 10px;
			top: 10px;
			@include tablet {
				position: absolute;
				left: 15px;
				top: 11px;
				z-index: 1;
			}
		}

		&__avatar {
			border-radius: 50%;
			width: 36px;
			height: 36px;
			margin-left: 1rem;
			@include tablet {
				order: 3;
				margin-left: 24px;
				@include td-avatar;
			}	
		}
	}

	&-button {
		&:hover {
			background-color: $darkblue;
		}
		cursor: pointer;
		display: block;
		margin-top: 1rem;
		width: 100%;
		background-image: url("../../assets/icons/upload.svg");
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: 1rem;
		@include btn;
		@include tablet {
			width: 20vw;
			margin: 0;
			order: 2;
		}
		@include m-labels-button;
		@include tablet {
			@include labels-button;
		}
		@include desktop {
			width: 13vw;
		}
	}
}
