@use "../../styles/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fontcolors" as *;


.video {
	margin-top: 1rem;

	@include tablet {
		@include t-padding
	}

	@include desktop {
		// @include d-padding
	}

	width: 100%;
	box-sizing: border-box;
	background-color: $darkblack;
	display: flex;
	justify-content: center;

	@include tablet {
		padding: 0 2.25rem;
	}

	@include desktop {
		padding: 0 6rem;
	}
	
	&-current {
		box-sizing: border-box;
		width: 100%;
	}
}

