@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fontcolors" as *;

header {
	margin: 1rem 0;
	@include m-padding;

	@include tablet {
		@include t-padding
	}

	@include desktop {
		@include d-padding
	}
}

.video {
	width: 100%;
	box-sizing: border-box;
	background-color: $darkblack;
	display: flex;
	justify-content: center;
	@include tablet {
		padding: 0 36px;
	}
	@include desktop {
		padding: 0 96px;
	}
	&-current {
		box-sizing: border-box;
		width: 100%;
	}
}

.info {
	@include m-padding;

	@include tablet {
		@include t-padding
	}

	@include desktop {
		@include d-padding
	}

	&-title {
		// padding: 1rem 0;
		h1 {
			padding: 24px 0 16px;
			margin: 0;
			@include tablet {
				padding: 36px 0 24px;
			}
		}
		&-text {
			margin: 0;
			
			@include m-page-header;
			@include tablet {
				@include page-header;
			}
		}
	}
	&-item {
		display: flex;
		@include tablet {
			margin-bottom: 8px;
		}
		&__list {
			flex: 1;
			@include tablet {
				flex: none;
			}
		}
		&__channel {
			font-weight: 600;
		}
		&__views, &__likes {
			&-image {
				margin-right: 8px;
			}
		}
		@include tablet {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			&__list {
				display: flex;
				flex-direction: row;
				gap: 1rem;
				flex-wrap: wrap;
				
				p {
					margin: 0;
				}
			}
		}
	}
	&-description {
		padding: 1rem 0;
		@include tablet {
			padding: 24px 0;
		}
	}
	&-comments {
		font-weight: 600;
	}
}


@include tablet {
	.td-hr {
		display: none;
	}
} 

.info-item {
	&__timestamp, &__views, &__likes {
		color: $silver;
	}
}