@use "../../styles/partials/fontcolors" as *;
@use "../../styles/partials/fontcolors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global" as *;
@use "../../styles/partials/mixins" as *;


.main-container {
	margin: 0;
	@include desktop {
		display: flex;
		flex-direction: row;

		&__two {
			flex: 3;
			border-right: 1px solid $mercury;
		}
		&__one {
			flex: 2;
		}
	}
}

